.app {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
input.error {
    border-color: red;
}

.input_feedback {
    color: red;
    height: 5px;
    /* margin-top: 0px; */
}

.buttons {
    display: flex;
}
  