.commentContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(233, 236, 239);
}

.commentHeader {
  display: flex;
  justify-content: space-between;
}

.avatarWrapper {
  display: flex;
}

.userImg {
  display: block;
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
  box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.125s ease-in 0s;
}

.commentInfo {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
}

.userNickname {
  font-size: 1.2rem;
  font-weight: 700;
}

.registeredDate {
  font-size: 1rem;
  line-height: 126.5%; /* or 19px */
  letter-spacing: -0.005em;
  color: #8c8c8c;
}

.commentContent {
  font-size: 1.2rem;
  padding-top: 1rem;
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

@media screen and (max-width: 575px) {
  .commentContent {
    font-size: 1rem;
  }
}