/* .main {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
.editorWrapper {
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
    width: 1024px;
    margin: 0 auto; /* 중앙 정렬 */
    background-color: #ffffff;
}
  
  @media screen and (max-width: 1048px) {
    .editorWrapper {
      width: 100%;
    }
  }

.titleInput {
    font-size: 3rem;
    font-weight: bold;
    outline: none;
    padding-bottom: 0.5rem;
    border: none;
    border-bottom: 1px solid #ced4da;
    margin-bottom: 2rem;
    width: 100%;
    height: 4rem;
}

.categoryWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    z-index: 2;
}

.categoryList {
    padding-top: 0.5rem;
    width: 7rem;
    font-size: 20px;
    font-weight: 800;
  }

.categoryListsWrapper {
    width: 60%;
}

.myPosition {
  padding-top: 0.5rem;
  width: 6rem;
  font-size: 20px;
  font-weight: 800;
}

.myPositionWrapper {
  width: 40%
}

.addressInput {
  font-size: 18px;
  font-weight: 800;
  outline: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  width: 100%;
  height: 3rem;
}


@media screen and (max-width: 575px) {
    .titleInput {
      font-size: 2rem;
    }
    .categoryListsWrapper {
      font-size: 0.8rem;
    }
  }

.textEditor {
    display: absolute;
    z-index: 1;
    width: 100%;
}





