button {
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

.logout {
    margin-right: 2rem;
    font-weight: 600;
    font-size: 1.125rem;
}

@media screen and (max-width: 780px) {
    .logout {
        margin-right: 0;
        font-size: 1rem;
    }
}