
.navbar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  /* border-bottom: solid 1px #e8e8e8; */
  overflow: auto;
  /* box-shadow: 0 0 30px #f3f1f1; */
  background-color: white;
}

.logo {
  width: 5rem;
  height: auto;
}

.logo a {
  display: inline-block;
  font-size: 25px;
  padding: 10px 10px;
}

.navbarElementWrapper {
  display: flex;
  margin-right: 1rem;
}

button {
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

.postRegister {
  margin-right: 2rem;
  font-weight: 600;
  font-size: 1.125rem;
}

.login {
  margin-right: 2rem;
  font-weight: 600;
  font-size: 1.125rem;
}

@media screen and (max-width: 780px) {
  .postRegister {
    font-size: 1rem;
  }
  .loginElementWrapper {
    margin-right: 0;
  }
  .login {
    margin-right: 0;
    font-size: 1em;
  }
  .logout {
      margin-right: 2rem;
      font-weight: 600;
      font-size: 1.125rem;
  }
}
